<h2 class="mt20">Questions of {{title}}</h2>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="accent" class="mb10"
                [routerLink] = "'/admin/add-question/'+qId+'/'+title">Add Questions</button>
            </div>
            <mat-card *ngFor = 'let q of questions ; let i = index' class="mt20">
                <mat-card-content>
                    <p>
                        <b> Q {{i+1}})</b> <span class="ml20">{{q.content}}</span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md 6">
                                <p><b>1)</b> {{q.option1}}</p>
                            </div>
                            <div class="col-md 6">
                                <p><b>2)</b> {{q.option2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md 6">
                                <p><b>3)</b> {{q.option3}}</p>
                            </div>
                            <div class="col-md 6">
                                <p><b>4)</b> {{q.option4}}</p>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <p class="mt20"><b>Correct Answer :</b>  {{q.answer}}</p>
                    </div>

                    <div class="container">
                        <button class="custom-btn" mat-raised-button color="accent">Update</button>
                        <button class="custom-btn ml20" mat-flat-button><mat-icon (click)="deleteQuestion(q.quesId)">delete_outline</mat-icon></button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
